body{
    padding: 0;
    margin: 0;
}

/*MENÚ*/
header,footer{
    height: 5vh;
    background-color: #a61eb8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1{
    margin: 0;
}

nav{
    width: 340px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    background-color: #a71aba;
    color: #ffffff;
    padding: 13px;
}

header h1 a:hover{
    color: #fff;
    padding: 0;
    background-color: #ca20e0;
}

/*PAGINA INICIO*/
main{
    height: 78.9vh;
    background-image: url("imagenes/lazoviolenciadegenero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

/*PROYECTO IMAGEN FONDO*/
.imagen{
    height: 78.9vh;
    background-image: url("imagenes/manifestacion25N.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*QUE HACEMOS IMAGEN FONDO*/
.imagen-abrazo{
    height: 78.9vh;
    background-image: url("imagenes/abrazo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CONTACTO IMAGEN FONDO*/
.imagen-corazon{
    height: 78.9vh;
    background-image: url("imagenes/corazon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*TEXTO PÁGINAS*/
.central{
    background-color: #fff;
    padding: 20px;
    opacity: 90%;
}



