body {
    background-color: #f9f6e5 ;
    ;
}

h1 {
    font-size: 50px;
    font-style: italic;
}

p {
    font-size: 14px;
}

li {
    font-size: 14px;
}
h2{
    font-size: 20px;
}

ul {
    font-size: 14px;
}